.navbar-static-top{
	background-color: yellow;
	margin-bottom: 0px !important;
}

body{
	background-color: black !important;
}

.mainindex{
	background-color: blue;
}

.testthing{
	font-size: 2em;
	background-color: blue;
}