body{
	max-height: 1200px;
	background-color: #edf3ff;
}

.testclass{
	background-color: blue;
}

.logo{
	width: 150px;
}

.logo p{
	align-items: center;
}

@media (min-width: 480px){
	.triangle-wrap{
		opacity: 0.8;
		width: 96px;
		height: 45px;
		margin-top: 1.75px;
		padding-top: 0px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.triangle1, .triangle2, .triangle3, .triangle4, .triangle5, .triangle6{
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
	}

	.triangle1{
		border-left: 29px solid transparent;
		border-right: 29.4px solid transparent;
		border-bottom: 45px solid #00b18f;
		left: 0;
		opacity: 1;
	}

}



div{
	display: block;
}

.header-container{
	display: flex;
	height: 200px;
	align-items: center;
	align-content: flex-start;
}

.logo-wrap{
	display: flex;
	flex-direction: row;

	justify-content: flex-start;
	align-items: center;
	margin: 0;
}

.header-nav img{
	width: 60%;
	height: 60%;
}

.header-nav li{
	width: 135px;
}

.body-container{
	display: flex;
	justify-content: center;

}

.body-item{
	display: flex;
	height: 512px;
	width: 512px;
	align-items: center;
	justify-content: space-around;
}

a{
	text-decoration: none;
	color: black;
}

.circle{
	display: flex;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	font-size: 30px;
	background: #c9d1dd;
	align-items: center;
	justify-content: space-around;
}
