{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css?version=0.2')}}">
{% endblock %}

{% block title %}
	{% if title %}{{ title }} Otto {% else %} Welcome to Otto {% endif %}
{% endblock %}

{% block navbar %}
	<div class="navbar navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<span class="sr-only">Toggle nav</span>
				<span class="nav-option">Test 1</span>
				<span class="nav-option">Test 2</span>
				<span class="nav-option">Test 2</span>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="mainindex">
		<h3>upload a xlsx or csv file</h3>
		<h3 class="testthing">is jinja templates updating</h3>
	</div>	
	<div class="container">
		{% if app_content %}
		{% block app_content %}
		{% endblock %}
		{% endif %}
	</div>
{% endblock %}