

<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<!-- 
{% block title %}
	{% if title %}{{ title }} Otto {% else %} Welcome to Otto {% endif %}
{% endblock %}
!-->


{% block content %}
<div class="header-container">
	<a class="logo-wrap">
		<div class="triangle-wrap">
			<div class="triangle1"></div>
			<div class="triangle2"></div>
			<div class="triangle3"></div>
			<div class="triangle4"></div>
			<div class="triangle5"></div>
			<div class="triangle6"></div>

		</div>
		<div class="logo-name-wrap">
			<div class="logo-aid">Aid</div>
			<div class="logo-data">Data</div>
		</div>
		<div class="logo-tagline">A research Lab at William & Mary</div>

	</a>
</div>


<div class="index-body">
	<div class="body-container">
		<div class="sdg-img-container">
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg1.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg2.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg3.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg4.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg5.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg6.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg7.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg8.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg9.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg10.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg11.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg12.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg13.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg14.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg15.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg16.jpg") }}"></div>
			<div class="sdg-img"><img src="{{ url_for('static', filename="images/sdg17.jpg") }}"></div>
		</div>
		<!--
		<div class="body-item item1">
			<div class="circle"><a href="#">Upload and Classify</a></div>
		</div>
		<div class="body-item item2">
			<div class="circle"><a href="#">View Database</a></div>
		</div>
		-->
	</div>
	<div class="body-options">
		<p><a href="{{ url_for('view_database') }}">Click to view Database</a></p>
		<p>Test to make sure that application can be properly updated</p>
	</div>
</div>	


<script type="text/javascript" src="{{ url_for('static', filename="jquery-3.3.1.js")}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="site.js") }}"></script>
{% endblock %}