{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">

<div class="header-bar">
	<div class="header-container">
		<ul class="header-nav">
			<li><p>Otto</p></li>

		</ul>
	</div>
</div>

<div class="index-body">
	<div class="body-container">
		<div class="body-item item1">
			<div class="circle"><a href="#">Upload and Classify</a></div>
		</div>
		<div class="body-item item2">
			<div class="circle"><a href="#">View Database</a></div>
		</div>
	</div>
</div>	




