body{
	max-height: 1200px;
	font-family: sans-serif;
}


.logo-aid{
	color: #00313c;
}

.logo-data{
	color: #5b6770;
}

.logo-tagline{
	color: #115740;
	font-family: 'Baskerville';
}

.logo-aid, .logo-data, .logo-tagline{
	font-family: sans-serif;
}


@media (min-width: 480px){
	.triangle-wrap{
		opacity: 0.8;
		width: 96px;
		height: 45px;
		margin-top: 1.75px;
		padding-top: 0px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.triangle1, .triangle2, .triangle3, .triangle4, .triangle5, .triangle6{
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
	}

	.triangle1{
		border-left: 29px solid transparent;
		border-right: 29.4px solid transparent;
		border-bottom: 45px solid #00b18f;
		left: 0;
	}

	.triangle2{
		border-left: 29.4px solid transparent;
		border-bottom: 45px solid #FDB714;
		border-right: 29.4px solid transparent;
		left: 18.67px;
	}

	.triangle3{
		border-left: 29.4px solid transparent;
		border-bottom: 45px solid #70CACB;
		border-right: 29.4px solid transparent;
		left: 37.12px;
	}

	.triangle4{
		border-left: 20.1px solid transparent;
		border-bottom: 30.75px solid #d6c152;
		border-right: 20.1px solid transparent;
		left: 18.67px;
	}

	.triangle5{
		border-left: 20.1px solid transparent;
		border-bottom: 30.75px solid #67963a;
		border-right: 20.1px solid transparent;
		left: 37.12px;
	}

	.triangle6{
		width: 0;
		height: 0;
		border-left: 10.88px solid transparent;
		border-bottom: 16.64px solid #70a095;
		border-right: 10.88px solid transparent;
		left: 37.12px;
	}

	.logo-wrap, .logo-name-wrap{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;


	}

	.logo-wrap{
		display: flex;
		position: relative;
		width: 384px;
		height: 80px;
		margin: 0;
		padding: 0;
		align-items: flex-start;
		flex-wrap: wrap;

	}

	.logo-name-wrap{
		position: absolute;
		width: 264px;
		text-transform: uppercase;
		margin-top: 0;
		padding-top: 0;
		letter-spacing: -1.45px;
		top: -4px;
		left: 120px;
	}

	.logo-name-wrap, .logo-aid, .logo-data{
		font-size: 64px;
		line-height: 60px;
		height: 60px;
		overflow-y: visible;
	}

	.logo-tagline{
		font-family: 'Baskerville', 'Libre Baskerville', sans-serif!important;
		font-size: 16.45px;
		line-height: 1;
		margin-top: -6px;
		padding-top: 0;
		position: absolute;
		left: 120px;
		top: 64px;
		margin-left: 0;
		width: 280px;
		padding-left: 0;
		padding-right: 0;
		height: 20px;

	}

}



div{
	display: block;
}

.header-container{
	display: flex;
	align-items: center;
	align-content: flex-start;
}

.logo-wrap{
	display: flex;
	flex-direction: row;

	justify-content: flex-start;
	align-items: center;
	margin: 0;
}

.header-nav img{
	width: 60%;
	height: 60%;
}

.header-nav li{
	width: 135px;
}

.body-container{
	display: flex;
	justify-content: center;

}

.body-item{
	display: flex;
	height: 512px;
	width: 512px;
	align-items: center;
	justify-content: space-around;
}

a{
	text-decoration: none;
	color: black;
}

.sdg-img-container{
	padding: 20px;
	margin: 0;
	width: 700px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

}

.sdg-img{
	height: 100px;
	width: 100px;
	padding: 5px;
	display: none;
}

.sdg-img > img{
	width: 100%;
	height: auto;
}

.circle{
	display: flex;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	font-size: 30px;
	background: #c9d1dd;
	align-items: center;
	justify-content: space-around;
}
